#a1 {
  display: none;
}

#a2 {
  display: none;
}

#a3 {
  display: none;
}

#a4 {
  display: none;
}

#a5 {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
